@import "/home/mlpx/.cache/wal/colors-waybar.css";

* {
    font-family: GeistMono Nerd Font;
    font-size: 18px;
    font-weight: 700;
}

window#waybar {
    background-color: @background;
    background: rgba(0.0, 0, 0, 0.0);
    color: @foreground;

    transition-property: background-color;
    transition-duration: .5s;

    /* border-bottom: 1px solid #181825; */
    /* border-radius: 50px; */
    /* border-bottom: 2px solid @foreground; */
}

#workspaces {
    /* padding: 0px 0px 0px 45px; */
    margin-left: 45px;
    /* background: @color1; */
    /* border-radius: 50px; */
}

#workspaces * {
    font-weight: 900;
    /* border-radius: 50px; */
    /* border: none; */
}

#workspaces button {
    background-color: @background;
    background: rgba(0.0, 0, 0, 0.0);
    color: @foreground;
    margin: 4px 8px;
    padding: 0px 0px;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    border-color: rgba(0,0,0,0);
    color: @color2;
}

#workspaces button.active {
    background-color: @background;
    background: rgba(0.0, 0, 0, 0.0);
    color: @color2;
    margin: 4px 8px;
    padding: 0px 0px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    /* background-color: #64727D; */
    /* box-shadow: inset 0 -3px #ffffff; */
}

#clock,
#tray,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#mpd {
    /* color: #ffffff; */
    /* color: @foreground; */

    /* background-color: @foreground; */
    /* color: @background; */

    /* background-color: @foreground; */
    /* background-color: rgba(0,0,0,0); */
    background-color: @background;
    background: rgba(0.0, 0, 0, 0.0);
    color: @foreground;
    /* font-weight: 700; */
    border-radius: 50px;
    margin: 4px 0px;
    padding: 0px 8px;
}

#clock {
    color: @color2;
}
#network {
    color: @color2;
}
#pulseaudio {
    color: @color3;
}
#backlight {
    color: @color4;
}
#battery {
    color: @color5;
}
#mpris {
    color: @color6;
}
#workspaces button {
    color: @color7;
}
#workspaces button.active {
    color: @color2;
}

#mpris {
    /* padding: 0px 12px; */
    /* margin: 8px 0px 8px 0px; */
    /* background-color: @background; */
    /* color: @color2; */
}

#battery,
#backlight {
    /* background-color: @background; */
    /* color: @color2; */
}

#mpris:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    border-color: rgba(0,0,0,0);
    color: @foreground;
}

#tray {
    padding: 0px 8px 0px 8px;
    /* background-color: @background; */
    /* color: @color2; */
}

#pulseaudio {
    /* padding: 0px 10px 0px 8px; */
    /* background-color: @background; */
    /* color: @color2; */
}

#clock {
    /* color: #191724; */
    /* background-color: #e0def4; */
    /* background-color: #ebbcba; */
    /* background-color: @background; */
    /* color: @background; */
    /* color: @color2; */
    /* font-weight: bold; */
    /* border-radius: 5px; */
    /* margin: 8px 53px 8px 0px; */
    margin-right: 53px;
    /* padding: 0px 8px; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
        background-color: @background;
        color: @foreground;
    }
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

tooltip {
    /* background-color: #191724; */
    /* background: rgba(0,0,0,0); */
    background: @background;
    /* border-bottom: 2px solid rgba(100, 114, 125, 0.5); */
    border:none;
    border-radius: 5px;
    /* border: 1px solid @foreground; */
    /* color: #ffffff; */
    /* color: #e0def4; */
    /* color: @background; */
  /* background-color: white; */
    text-shadow: none;
        /* shadow: none; */
    /* shadow: none; */
}

tooltip label {
    color: @foreground;
}
