@import "/home/mlpx/.cache/wal/colors-waybar.css";

* {
    font-family: GeistMono Nerd Font;
    font-size: 18px;
    font-weight: 700;
}

window#waybar {
    /* background-color: @background; */
    background: rgba(0, 0, 0, 0);
    color: @foreground;

    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    padding: 8px 0px 8px 45px;
    margin: 0px -8px 0px 0px;
    border-radius: 500px;
}

#workspaces * {
    font-weight: 900;
}

#workspaces button {
    background-color: @foreground;
    color: @background;
    margin: 8px 8px;
    padding: 0px 8px;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    border-color: rgba(0,0,0,0);
    color: @color1;
}

#workspaces button.active {
    background-color: @background;
    color: @color1;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#tray,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#mpd {
    padding: 0 10px;
    /* color: #ffffff; */
    color: @foreground;

    background-color: @foreground;
    color: @background;

    background-color: @foreground;
    background-color: @foreground;
    color: @background;
    /* font-weight: 700; */
    border-radius: 5px;
    margin: 16px 0px;
    padding: 0px 16px 0px 8px;
}

#mpris {
    padding: 0px 12px;
    margin: 16px 0px 16px 0px;
    background-color: @background;
    color: @color1;
}

#battery,
#backlight {
    background-color: @background;
    color: @color1;
}

#mpris:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    border-color: rgba(0,0,0,0);
    color: @foreground;
}

#tray {
    padding: 0px 8px 0px 8px;
    /* background-color: @background; */
    /* color: @color1; */
}

#pulseaudio {
    padding: 0px 10px 0px 8px;
    background-color: @background;
    color: @color1;
}

#clock {
    /* color: #191724; */
    /* background-color: #e0def4; */
    /* background-color: #ebbcba; */
    background-color: @background;
    color: @background;
    color: @color1;
    /* font-weight: bold; */
    border-radius: 5px;
    margin: 16px 53px 16px 0px;
    padding: 0px 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
        background-color: @background;
        color: @foreground;
    }
}



#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

tooltip {
    /* background-color: #191724; */
    /* background: rgba(0,0,0,0); */
    background: @background;
    /* border-bottom: 2px solid rgba(100, 114, 125, 0.5); */
    border:none;
    /* border: 1px solid @foreground; */
    /* color: #ffffff; */
    /* color: #e0def4; */
    /* color: @background; */
  /* background-color: white; */
    text-shadow: none;
        /* shadow: none; */
    /* shadow: none; */
}

tooltip label {
    color: @foreground;
}
